body {
  background-color: lightskyblue;
  margin: 0;
  color: white;
  min-height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.wrapper {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}

.character-amount-container {
  display: flex;
  align-items: center;
}

.number-input {
  width: 2rem;
}

.display {
  background-color: white;
  color: black;
  padding: 1rem;
  font-weight: 100;
  font-size: medium;
  width: auto;
  border: 1px solid #333;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .3rem;
}

.btn {
  grid-column: span 2;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: .5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
}

.btn:hover {
  background-color: #FFFFFF33;
}